<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SmyttenApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmyttenApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.ActivityF"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityE"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityD"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityC"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityB"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityA"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.DialogBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="SHOW_DIALOG_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>